.todo {
    background-color: transparent;
}

.todo__input-block {
    position: relative;
    margin-bottom: 1rem;
}

.todo__todo-input {
    width: 100%;
    padding: 1rem;
    padding-left: 4rem;

    background-color: var(--section-bg);
    border: none;
    border-radius: 0.5rem;

    color: var(--strike-text-color);
    font-size: 1rem;
}

.todo__todo-input:focus {
    outline: none;
    color: var(--text-color);
}

.todo__add-button {
    position: absolute;
    top: 25%;
    left: 1.5rem;

    width: 25px;
    height: 25px;

    background-color: transparent;
    border: 1px solid var(--strike-text-color);
    border-radius: 50%;
}


.todo__add-button:active {
    background: url('../../images/icon-check.svg'), linear-gradient(145deg, hsl(192 100% 67%), hsl(280 87% 65%));
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 0px 5px 1px var(--shadow-color);
    border: none;
    border-radius: 50%;
}

.todo__list {
   
    background-color: var(--section-bg);
    color: var(--text-color);
    border-radius: 0.5rem;
}

.todo__list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo__item {
    display: flex;
    align-items: center;

    padding: 1rem;
    padding-left: 4rem;
    border-bottom: 1px solid var(--border-color);
    text-align: justify;
    word-wrap: break-word;
    word-break: break-all;

    cursor: grab;
}

.todo__item-checkbox {
    position: relative;
    margin: 0;
    appearance: none;
}

.todo__item-checkbox::before {
    content: '';
    position: absolute;
    top: -16px;
    left: -41px;

    width: 25px;
    height: 25px;

    border: 1px solid var(--strike-text-color);
    border-radius: 50%;
}

.todo__item-checkbox+label:hover {
    cursor: pointer;
}

.todo__item-checkbox+label {
    padding-right: 1rem;
}

.todo__item-checkbox:checked+label {
    text-decoration: line-through;
    color: var(--strike-text-color);
}

.todo__item-checkbox:checked::before {
    background: url('../../images/icon-check.svg'), linear-gradient(145deg, hsl(192 100% 67%), hsl(280 87% 65%));
    background-repeat: no-repeat;
    background-position: center;
    width: 26px;
    height: 26px;
    border: none;
}

.todo__close-button {
    margin-left: auto;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    border: none;
    background: url('../../images/icon-cross.svg') center;

}

.todo__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-bottom: 1rem;

    background-color: var(--section-bg);
    color: var(--strike-text-color);
    font-size: 16px;

    border-radius: 0.5rem;
    box-shadow: 0 50px 35px -20px var(--shadow-color);
}

.todo__clear-button {
    border: none;
    background: none;

    font-family: var(--family);
    color: var(--strike-text-color);
}

.todo__clear-button:active {
    color: var(--text-color);
}

.todo__filters-panel {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    padding: 1rem;
    background: var(--section-bg);
    border-radius: 0.5rem;
    gap: 0.5rem;
}

.todo__filter {
    margin: 0;
    appearance: none;
}

.todo__filter+label {
    color: var(--strike-text-color);
}

.todo__filter:checked+label {
    color: var(--bright-blue);
}

@media(hover:hover) {
    .todo__add-button:hover {
        background: linear-gradient(var(--section-bg), var(--section-bg)) padding-box,
            linear-gradient(145deg, hsl(192 100% 67%), hsl(280 87% 65%)) border-box;
        border-radius: 50%;
        border: 1px solid transparent;
    }

    .todo__item-checkbox:hover::before {
        background: linear-gradient(var(--section-bg), var(--section-bg)) padding-box,
            linear-gradient(145deg, hsl(192 100% 67%), hsl(280 87% 65%)) border-box;
        border-radius: 50%;
        border: 1px solid transparent;
    }

    .todo__item-checkbox:checked:hover::before {
        background: url('../../images/icon-check.svg'), linear-gradient(145deg, hsl(192 100% 67%), hsl(280 87% 65%));
        background-repeat: no-repeat;
        background-position: center;
        border: none;
    }

    .todo__clear-button:hover {
        color: var(--text-color);
    }

    .todo__filter+label:hover {
        color: var(--text-color);
    }
}